<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.manage.mapper.DevicesMapper">
    
    <resultMap type="Devices" id="DevicesResult">
        <result property="id"    column="id"    />
        <result property="deviceId"    column="device_id"    />
        <result property="topic"    column="topic"    />
        <result property="roomId"    column="room_id"    />
        <result property="status"    column="status"    />
        <result property="isOnline"    column="is_online"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedTime"    column="updated_time"    />
    </resultMap>

    <sql id="selectDevicesVo">
        select id, device_id, topic, room_id, status, is_online, created_time, updated_time from devices
    </sql>

    <select id="selectDevicesList" parameterType="Devices" resultMap="DevicesResult">
        <include refid="selectDevicesVo"/>
        <where>  
            <if test="deviceId != null  and deviceId != ''"> and device_id = #{deviceId}</if>
            <if test="topic != null  and topic != ''"> and topic = #{topic}</if>
            <if test="roomId != null "> and room_id = #{roomId}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="isOnline != null "> and is_online = #{isOnline}</if>
        </where>
    </select>
    
    <select id="selectDevicesById" parameterType="Long" resultMap="DevicesResult">
        <include refid="selectDevicesVo"/>
        where id = #{id}
    </select>
    
    <select id="selectDevicesByRoomNumber" parameterType="string" resultMap="DevicesResult">
        select d.* from devices d left outer join rooms on d.room_id = rooms.id
        <where>
            <if test="roomNumber != null and roomNumber != ''">
                rooms.room_number = #{roomNumber}
            </if>
        </where>
    </select>

    <insert id="insertDevices" parameterType="Devices" useGeneratedKeys="true" keyProperty="id">
        insert into devices
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deviceId != null and deviceId != ''">device_id,</if>
            <if test="topic != null">topic,</if>
            <if test="roomId != null">room_id,</if>
            <if test="status != null">status,</if>
            <if test="isOnline != null">is_online,</if>
            <if test="createdTime != null">created_time,</if>
            <if test="updatedTime != null">updated_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deviceId != null and deviceId != ''">#{deviceId},</if>
            <if test="topic != null">#{topic},</if>
            <if test="roomId != null">#{roomId},</if>
            <if test="status != null">#{status},</if>
            <if test="isOnline != null">#{isOnline},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="updatedTime != null">#{updatedTime},</if>
         </trim>
    </insert>

    <update id="updateDevices" parameterType="Devices">
        update devices
        <trim prefix="SET" suffixOverrides=",">
            <if test="deviceId != null and deviceId != ''">device_id = #{deviceId},</if>
            <if test="topic != null">topic = #{topic},</if>
            <if test="roomId != null">room_id = #{roomId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="isOnline != null">is_online = #{isOnline},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="updatedTime != null">updated_time = #{updatedTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDevicesById" parameterType="Long">
        delete from devices where id = #{id}
    </delete>

    <delete id="deleteDevicesByIds" parameterType="String">
        delete from devices where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>